venv
.idea
lesson
db.sqlite3
bak/
config/__pycache__
api/__pycache__
api_auth/__pycache__
api_auth/migrations/__pycache__
api_insta/__pycache__
api_insta/migrations/__pycache__
api_tasks/__pycache__
api_household/__pycache__
api_household/migrations/__pycache__/
media/avatars
media/posts
frontend_react/node_modules
api_irbank/__pycache__
api_irbank/migrations/__pycache__/
api_irbank/migrations
api_irbank/management/commands/__pycache__/
api_irbank/scraping/__pycache__
api_irbank/scraping/controller/__pycache__/
api_irbank/scraping/controller/temp


