.front_title{
  font-family: "Playball", cursive, sans-serif;
  font-weight: normal;
  text-align: center;
}
.front_signUp{
  display: flex;
  flex-direction: column;
}
.front_text {
  color: rgb(6, 153, 211);
  text-align: center;
  cursor: pointer;
}
.front_header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.front_btnModal {
  background-color: transparent;
  color: gray;
  padding-top: 3px;
  font-size: 32px;
  border: none;
  outline: none;
  cursor: pointer;
}
.front_logout{
  display: flex;
  justify-content: flex-end;
}
.front_posts {
  padding: 20px;
}
.front_progress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}